{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "tabWidth": 4,
    "printWidth": 80,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "importOrder": [
        "<BUILTIN_MODULES>",
        "^react$",
        "<THIRD_PARTY_MODULES>",
        "^@beequip/.*$",
        "^@/.*$",
        "^(constants|data|hooks|util|utils)/.*$",
        "^(\\.|\\.\\.)/(.(?!.(css|scss)))*$",
        "\\.(css|scss)$"
    ],
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true
}
